@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    --typeface: "Ubuntu", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    font-family: var(--typeface);
}

/* Hero */
.section-hero {
    background-color: #fdf2e9;
    padding: 8.4rem 5rem 9.6rem 5rem;
    background-image: url("contact-hero.jpg");
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    /* We'll not use px to define the length and will use rem. */
    /* max-width: 1300px; */
    max-width: 130rem;
    display: grid;
    padding: 0 3.2rem;
    margin: 0 auto;
    align-items: center;
    gap: 0 9.6rem;
}



.hero-title {
    font-size: 5.2rem;
    color: #333;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.05;
    text-align: center;
}

.hero-title span {
    color: #cf711f;
}

.hero-title p {
    font-size: 1.3rem;
    line-height: 1.5;
}




.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#contact-us {
    padding: 1%;
}
.info {
    padding: 1%;
}
form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #834C24;
    background: #f5f5f5;
    border-radius: 10px;
}

.fas {
    margin: 25px 10px 0;
    font-size: 72px;
    color: #834C24;
}

.fa-envelope {
    transform: rotate(-20deg);
}

.fa-at,
.fa-mail-bulk {
    transform: rotate(10deg);
}

input,
textarea {
    width: calc(100% - 18px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #834C24;
    outline: none;
    border-radius: 4px;
}

input::placeholder {
    color: #834C24;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #cf711f;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border-radius: 5px;
}

button:hover {
    background: #834C24;
}


@media (max-width: 1335px) {
    .hero{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .main-block {
        flex-direction: column;
    }


}

@media (min-width: 568px) {
    .main-block {
        flex-direction: row;
    }

    .left-part,
    form {
        width: 90%;
    }

    .fa-envelope {
        margin-left: 20%;
    }

    .fa-at {
        margin-top: -10%;
        margin-left: 65%;
    }

    .fa-mail-bulk {
        margin-top: 2%;
        margin-left: 28%;
    }
    .hero-title{
        font-size: 4rem;
    }
}


@media (max-width: 784px) {
    .main-block {
        flex-direction: column;
    }
}
@media (max-width: 568px) {
    .hero-title{
        font-size: 4rem;
    }
}
