@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

header {
    width: 100%;
    height: 80px;
    background: #735032;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.logo {
    display: flex;
    color: #f1e3d1;
    font-size: 20px;
    align-items: center;
}

.logo img {
    border-radius: 10px;
}

.navbox {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li {
    position: relative;
    display: inline-block;
}

.nav-bar ul li a {
    display: block;
    color: #f1e3d1;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #735032;
    background: #D9B88F;
}


.nav-bar ul li a.active {
    color: #735032;
    background: #D9B88F;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

li:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #735032;
    transition: 0.2s;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 9px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10%;
    margin-top:1%;
    margin-bottom: 2%;
}


.dropdown-content a {
    color: white;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
    border-radius: 20px !important;
    font-size: 16px !important;
    text-align: center;
}


@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1269px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 1355px) {
    .dropdown-content {
        display: none !important;
    }
    
    .navbox {
        display: block;
        cursor: pointer;
    }

    .navbox .line {
        width: 30px;
        height: 3px;
        background: #D9B88F;
        margin: 6px 0;
        
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #BF8C60;
        transition: 0.5s;
        overflow: hidden;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .nav-bar.active {
        height: 570px;
        
    }

    .nav-bar ul {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }

    .nav-bar.active {
        opacity: 1;
        
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    
}